<?xml version="1.0"?>
<robot name="block">

<link name='link'>
    <collision name='surface'>
        <pose frame=''>0 0 0.755 0 -0 0</pose>
        <geometry>
        <box>
            <size>0.913 0.913 0.04</size>
        </box>
        </geometry>
        <max_contacts>10</max_contacts>
        <surface>
        <contact>
            <ode/>
        </contact>
        <friction>
            <torsional>
            <ode/>
            </torsional>
            <ode/>
        </friction>
        </surface>
    </collision>
    <collision name='column'>
        <pose frame=''>0 0 0.37 0 -0 0</pose>
        <geometry>
        <box>
            <size>0.042 0.042 0.74</size>
        </box>
        </geometry>
        <max_contacts>10</max_contacts>
        <surface>
        <contact>
            <ode/>
        </contact>
        <friction>
            <torsional>
            <ode/>
            </torsional>
            <ode/>
        </friction>
        </surface>
    </collision>
    <collision name='base'>
        <pose frame=''>0 0 0.02 0 -0 0</pose>
        <geometry>
        <box>
            <size>0.56 0.56 0.04</size>
        </box>
        </geometry>
        <max_contacts>10</max_contacts>
        <surface>
        <contact>
            <ode/>
        </contact>
        <friction>
            <torsional>
            <ode/>
            </torsional>
            <ode/>
        </friction>
        </surface>
    </collision>
    <visual name='visual'>
        <geometry>
        <mesh>
            <uri>model://cafe_table/meshes/cafe_table.dae</uri>
        </mesh>
        </geometry>
    </visual>
    <self_collide>0</self_collide>
    <kinematic>0</kinematic>
</link>

<gazebo reference="link">
  <static>1</static>
  <visual>
    <material>
      <ambient>0.55 0.27 0.07 1.0</ambient>
      <diffuse>0.55 0.27 0.07 1.0</diffuse>
      <specular>0 0 0 1.0</specular>
      <emissive>0 0 0 1.0</emissive>
    </material>
  </visual>
  <mu1>100</mu1>
  <mu2>100</mu2>
  <kp>2147483647</kp>
  <kd>1</kd>
  <maxVel>0</maxVel>
  <minDepth>0.001</minDepth>
</gazebo>

</robot>